.aboutSection {
    justify-content: center;
    display: flex;
    align-items: center;
    background: #2b2746;
    color: white;
    padding-top: 40px;
   
}
.aboutWrapper{
    background: #2b2746;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

div .apuDefaultImg {

    flex-wrap: nowrap;
    width: 100%;
    border-radius: 16px;
    flex: 1;
}
div .about{
     flex: 1;
     text-align: left;
}

.apuClimb{
   flex-direction: row;
    padding-bottom: 60px;
    justify-content: center;
    display: flex;
}

.apuChart {
    max-width: 100%;
    height: auto;
    flex-wrap: nowrap;
    border-radius: 16px;
 
   
}

@media (max-width: 700px) {
    .aboutSection {
        flex-direction: column;
    }
}

.apuDefaultImg {
}

@keyframes fadeApu {
    from {
        opacity: 0;
        transform: translateX(-20%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}